 @namespace s "library://ns.adobe.com/flex/spark";
 @namespace shell "de.ifs.shell.mvcs.view.components.*";
 @namespace basic "de.basic.controls.*";
s|ActionBar
{
	color: #0F3177;
	chromeColor: #191970;
	fontSize: 40;
}
s|Button
{
	skinClass: ClassReference("de.basic.skins.ButtonSkin");
}

s|TextInput
{
	paddingTop: -2;
	fontSize: 20;
}
s|Label
{
	fontSize: 20;
	fontFamily: "Arial";
}
basic|BasicTextInput
{
	paddingTop: -2;
	fontSize: 20;
	skinClass: ClassReference("de.basic.skins.BasicTextInputSkin");	
}
basic|BasicButton
{
	skinClass: ClassReference("de.basic.skins.ButtonSkin");
}

shell|LoginView
{
	skinClass: ClassReference("de.ifs.shell.mvcs.view.skins.LoginSkin");
}

